<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BrokerLibraryPath" value="C:\Users\Stamatakis\Documents\GitHub\SFE-Minuet-DesktopClient\minuet\messagebus\target\messagebus-1.0.0-SNAPSHOT.jar"/>
    <add key="BrokerExePath" value="C:\Program Files (x86)\Java\jdk1.8.0_45\bin\java.exe"/>
    <!--
    <add key="BrokerPort" value="65534"/>
    <add key="BrokerLoggingConfigFile" value="detect"/>
    -->
  </appSettings>
</configuration>
