<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BrokerLibraryPath" value="detect"/>
    <add key="BrokerExePath" value="detect"/>
    <!--
    <add key="BrokerPort" value="8000"/>
    <add key="BrokerLoggingConfigFile" value="detect"/>
    -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>